@model List<WebCafe.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="text-center mb-5">
            <h5 class="text-primary h6">Thông Tin Blog</h5>
            <h2 class="display-20 display-md-18 display-lg-16">Blog Gần Nhất</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-2-6">

                    <article class="card card-style2" data-aos="fade-up">
                        <div class="card-img">
                            <img class="rounded-top" src="~/Upload/tintuc/@item.HinhAnh">
                            <div class="date">@item.NgayViet</div>
                        </div>
                        <div class="card-body">
                            <h3 class="h5"><a href="#!">@item.TieuDe</a></h3>
                            <p class="display-30 text-truncate">@item.NoiDung</p>
                            <a href="#!" class="read-more">read more</a>
                        </div>
                    </article>
                </div>
            }
            </div>
    </div>
</section>

